<% content_for :content_front do %>
  <div class="jumbotron bg-transparent-black-3">

    <div class="container text-center">
      <h1>欢迎来到 MDZZ网站</h1>
      <p>这是一个充满记忆的地方，将过去和未来放在这里！</p>
      <p><a class="btn btn-red btn-large" href="/sign_up">立即注册</a></p>
    </div>

  </div>
<% end %>
