@import "bootstrap-sprockets";
@import "bootstrap";

  .register-header {
    margin-top: 50px;
  }

  .register-body {
    width: 400px;
    margin-left: 100px;
    margin-top: 80px;
  }

  .register-form-group {
    height: 50px;
  }
  .register-label {
    text-indent: 3em;
    margin-top: 5px;
    padding-right: 100px;
  }
